@using Microsoft.EntityFrameworkCore
@using StudentManager.Models.DBUtils
@model Student
@inject IModelRepository<Education> RepoEdu


@{
	ViewBag.Title = Model.FirstName ?? "New Student";
	Layout = "_Layout";
}

@{
	var educations = RepoEdu.Models.Include((edu) => edu.Classes);
}

<div class="card">
	<div class="card-body">
		<div id="ProfileIcon" class="col-md-auto position-relative" style="height: calc(10rem + 2rem)">
			<img src="~/img/@(Model.ProfilePicture ?? "DefaultProfile.png")" class="position-absolute top-50 start-50 translate-middle" style="height: 10rem; width: 10rem;" alt="Student profile picture"/>
		</div>

		<form asp-controller="Student" method="post" asp-action="Edit">
			<input asp-for="Id" style="display: none">

			<div class="mb-3 row">
				<div class="col-6">
					<label asp-for="FirstName" class="form-label">First Name</label>
					<input asp-for="FirstName" class="form-control" placeholder="Name">
					<span asp-validation-for="FirstName" class="invalid-feedback"></span>
				</div>
				<div class="col-6">
					<label asp-for="LastName" class="form-label">Last Name</label>
					<input asp-for="LastName" class="form-control" placeholder="Name">
					<span asp-validation-for="LastName" class="invalid-feedback"></span>
				</div>
			</div>

			<div class="mb-3">
				<label asp-for="Email" class="form-label">Email</label>
				<input asp-for="Email" class="form-control" placeholder="Email">
				<span asp-validation-for="Email" class="invalid-feedback"></span>
			</div>

			<div class="mb-3 row">
				<div class="col-6">
					<label for="Education" class="form-label">Education</label>
					
					@{
						var Educations = educations.Select(edu => new { edu.Id, edu.Name })
							.ToList()
							.Select(e => (e.Id, (object)e.Name));
					}
					
					<select id="Education" class="form-select" initial-data="Educations" initially-selected="Model.Class?.EducationId" >
					</select>
				</div>
				<div class="col-6">
					<label asp-for="ClassId" class="form-label">Class</label>
					@{
						var initialData =  Model.ClassId == 0 ? null 
							: educations.Where((edu) => edu.Classes.Any((cla) => Equals(cla.Id, Model.ClassId)))
							  .Select((edu => edu.Classes)).FirstOrDefault()?.Select((e)=>(e.Id, (object) e.Name));
					}
					<select asp-for="ClassId" filler-controller="Class" filler-action="Select" input-target="Education" endpoint-parameter="educationID" initial-data="initialData" initially-selected="Model.ClassId" class="form-select">
					</select>
					<span asp-validation-for="ClassId" class="invalid-feedback"></span>
				</div>

			</div>

			<div class="mb-3">
				<label for="Semester" class="form-label">Semester</label>
				<input id="Semester" class="form-control" disabled type="number" value="@(Model.Class?.Semester.ToString() ?? "Not assigned class")">
			</div>
			@{
				if (Model.Id == 0)
				{
					@Html.ActionLink("Cancel", "List", "Student", null, new { @class = "btn btn-danger" })
					<button type="submit" class="btn btn-success">Save</button>
				}
				else
				{
					@Html.ActionLink("Delete", "Delete", "Student", new { id = Model.Id }, new { @class = "btn btn-danger" })
					<button type="submit" class="btn btn-success">Update</button>
				}
			}
		</form>
	</div>
</div>

@section Scripts {
	<script defer src="~/js/SelectFiller.js"></script>
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}