@model StudentVM

@{
    ViewBag.Title = "Student List";
    Layout = "_Layout";
}

<h1>Students (<span id="StudentCount">@Model.PagingInfo.TotalItems</span>)</h1>
<p style="color: darkgray">All registered students are listed here</p>


<div class="d-flex justify-content-between">
  <form id="SearchForm" class="d-flex align-content-center" style="border: 2px solid var(--bs-primary); border-radius: 5px;">
    <div id="SearchIconContainer" class="d-flex align-items-center justify-content-around">
      <i class="fa-solid fa-magnifying-glass" style="padding: 10px;"></i>
    </div>
    <input asp-for="SearchString" style="outline: none;border: 0; background-color: var(--bs-body-bg); border-radius: 5px;">
  </form>
  <a asp-action="Edit" asp-controller="Student" class="btn btn-primary">Create Student</a>
</div>
<br/>

<div id="ListContainer">
   <partial name="StudentListPartial" model="@Model"/>
</div>

@section Scripts
{
    <script type="text/javascript">
        let callbackID = 0;
        function debounce(callback, delay = 500){
            clearTimeout(callbackID);
            callbackID = setTimeout(() => {
                callback();
            }, delay);
        }    
        
        
        async function updateList(searchString){
            const response = await fetch(`@Url.Action("GetPartialStudentList")?SearchString=${searchString}`);
           
            document.getElementById("StudentCount").innerText =response.headers.get("X-Total-Count")
			
            let container = document.getElementById("ListContainer");
            
            container.innerHTML = await response.text();
            
            if (history.pushState) {
                const baseURL = window.location.protocol + "//" + window.location.host + window.location.pathname;
                let newurl;
                if (searchString !== "")
                    newurl = `${baseURL}?SearchString=${searchString}`;
                else 
                    newurl = baseURL;     
                
                window.history.pushState({path:newurl},'',newurl);
            } 
        }
        
        document.getElementById("SearchString").addEventListener("keyup", (e) => {
            const searchString = e.target.value;
             if (e.isComposing || e.key === "Enter") {
                return;
             }
                        
            debounce(()=>updateList(searchString),300);
        })
        
        document.getElementById("SearchForm").addEventListener("submit",async (e)=>{
            e.preventDefault();
            console.log("Form Submitted")

            const formData = new FormData(e.target);
            const data = Object.fromEntries(formData.entries());
            
            await updateList(data.SearchString);
        })
       
    </script>
}
