@model Microsoft.AspNetCore.Identity.IdentityUser

@{
	ViewBag.Title = "title";
	Layout = "_Layout";
}

<div class="card" style="width: 18rem;">
  <!--<img src="..." class="card-img-top" alt="...">-->
  <div class="card-body">
    <h5 class="card-title">@Model.UserName</h5>
    <p class="card-text">@Model.Email</p>
  </div>
</div>
