@using System.Reflection
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/StudentManager.styles.css" asp-append-version="true"/>
    
    <script defer src="~/lib/jquery/dist/jquery.min.js"></script>
    <script defer src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="~/js/site.js" asp-append-version="true"></script>
    <script async src="~/js/Toggler.js" asp-append-version="true"></script>
    <script defer src="https://kit.fontawesome.com/3a6bf2609b.js" crossorigin="anonymous"></script>
</head>
<body>

<main role="main" class="pb-3">
    @RenderBody()
</main>


<footer class="border-top footer text-muted">
    <div class="container">
        @{
            var version = Assembly.GetExecutingAssembly().GetName().Version?.ToString();
            // ReSharper disable once RedundantAssignment
            var sha = Environment.GetEnvironmentVariable("COMMIT_SHA");
            
            #if DEBUG
            sha = "Dev Build";
            #endif
        }
        &copy; @DateTime.Today.Year - StudentManager (@version-@sha)
        
        
    </div>
</footer>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>